.posts {
	padding-top: 1em;
	min-height: em(600);
	.post {
		position:relative;
		max-width: $content-width;
		margin: 2em;
		border: 1.5px solid darken($accent-color, 8);
		border-radius: 4px;
		padding: 1.5em;
		padding-bottom:0;
		overflow: hidden;
		height: auto;
		

		@include media($small-screen + 4em) {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		img.avatar {
			//position: relative;
			width: em(40);
			height: em(40);
			border-radius: 4px;
			display: block;
			position: absolute;
			top: 1.5em;
			left: 1.5em;
		}

		.post-details {
			position: absolute;
			right: 1em;
			bottom: 1em;
			display: block;
			width: auto;;
			padding: 0; // top right bottom left
			height: auto;
			text-align: right;
			color: $linkColor;

			@include media($small-screen + 4em) {
				top: 1.25em;
			}


			.timestamp{
				font-size: em(16);
				display: inline;
				margin-left: 16px;
				color: lighten($linkColor, 5)
			}

			 a {
				font-size: em(13);
				display: inline;
				margin-left: 16px;
				color: lighten($linkColor, 5);
			}
		}

		h3 {
			display: block;
			width: auto;
			padding: 0 0 0.15em em((16 / 17) * (16 * 1.25)) + em(37); // top right bottom left
			height: auto;
			font-weight: 400;
			font-size: em(17);
			color: darken($font-color, 10);
			margin: 0;
		}

		p {
				padding: 0 0 3.25em (1.25em + em(40)); // top right bottom left
				margin:0;
				a {
					break-word: break-all;
					overflow-wrap: break-word;
				}

			} 

		.media {
			position:relative;
			display: inline-block;
	  	padding:0;
	  	margin-top:-1.5em;
	  	margin-left:-1.5em;
			margin-right: -1.5em;
			margin-bottom: 3.5em;
	  	height:auto;
			color: transparentize(white, .6);
			@include border-bottom-radius(0);

			&:hover {
		    	color: transparentize(white, .2);
		    	transition: color $base-duration $base-timing;
		    }

		  @include media($small-screen + 4em) {
		  	margin-bottom: -1.5em;
		  	@include border-bottom-radius(4px);
		  }

			img {
				display:inline-block;
				vertical-align: bottom;
				width:100%;
				height: auto;
				@include border-bottom-radius(0);

				@include media($small-screen + 4em) {
					@include border-bottom-radius(4px);
				}
			}
			&.video:after {
				display:block;
				position:absolute;
				width: 100%;
				font-family: "simply-social" !important;
				content: "\e00a";
			  z-index: 30;
			  text-align:center;
			  font-size: 4em;			
		    top: 50%;
		    left: 50%;
		    margin-right: -50%;
		    -ms-transform: translate(-50%, -50%); //IE9
		    transform: translate(-50%, -50%);
			}
		}
	}
}