header.navigation {
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: em(59px);
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid #44474b;
  $navigation-nav-accent-color: #44474b;
  $navigation-search-background: $navigation-background;
  $navigation-search-border: 1px solid lighten($navigation-background, 15);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $small-screen;

  background-color: $navigation-background;
  //border-top: .1875em solid $primary-color;
  border-bottom: 1px solid darken($navigation-background, 30);
  width: 100%;
  z-index: 999;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  a {
    color: $primary-color;
    &:hover, &:focus {
    color: lighten($primary-color, 20);
    outline-style: none;
    }
  }

  .navigation-wrapper {
    @include clearfix;
    @include outer-container (em(1300));
    padding: 0 1em;
    position: relative;
    z-index: 9999;

    @include media(em(1332)) {
      padding: 0;
    }
  }

  .logo {
      float: left;
      max-height: $navigation-height;
      font-size: em(27);
      margin: .5925925926em auto auto; // 16px / 27px
      padding: {
        top: 1px;
        left: 0;
        right: .5925925926em; // 16px / 27px
        bottom:0;
      }
      text-align:center;


      .simply, .social {
        font-size: em(11);
        display: inline-block;
        position: relative;
        top: em(-6);
      }

      .simply {
        color: #70767f;
        margin-left: em(5.5);
      }

      .social {
        color: #bec3cc;
      }

      img {
        max-height: $navigation-height;
        padding: 0.8em 0;
      }

      @include media($horizontal-bar-mode) {
        width:auto;
        padding: {
          top:1px;
          right: $navigation-padding;
          bottom: 0;
        }
        margin: {
          top: em(10);
          left: em(0);
        }
        text-align:left;
      }
    }

  .navigation-tools {
    width:100%;

    // Nav menu

    nav {
      z-index: 9999;
      display: inline-block;
      float: right;
      height: em(60);
      margin: {
        left: em(8);
        right: 0;
      }
    }

    ul.navigation-menu {
      -webkit-transform-style: preserve-3d; // stop webkit flicker
      clear: both;
      display: inline;
      margin: 0;
      overflow: visible;
      padding: 0;
      width: 100%;
      z-index: 9999;
      &.show {
        display: block;
      }
    }

    // The nav items

    ul li.nav-link {
      display: block;
      line-height: $navigation-height;
      overflow: visible;
      text-align: right;
      width: 100%;
      z-index: 9999;

      @include media ($horizontal-bar-mode) {
        display: inline-block;
        text-decoration: none;
        width: auto;
        overflow: visible;
      }

      a {
        color: $navigation-background;
        display: inline-block;
        text-decoration: none;
        font-size: em(14);

        &:focus,
        &:hover {
          color: darken($accent-color, 15);
        }
      }
    }

    .active-nav-item a {
      border-bottom: 1px solid $navigation-active-link-color;
      padding-bottom: 3px;
    }

    // Sub menus

    li.more.nav-link {
      padding-right: 0;

      > a {
        padding-right: 0.6em;
      }

      > a:after {
        @include position(absolute, em(-12) em(-12) auto auto); // top right bottom left
        content: '\25BE';
        color: $navigation-nav-accent-color;
        font-size: em(13);
      }
    }

    li.more {
      overflow: visible;
      padding-right: 0;

      a {
        padding-right: 0.8em;
      }

      > a {
        padding-right: 1.6em;
        position: relative;

        @include media($horizontal-bar-mode) {
          margin-right: $navigation-submenu-padding;
        }

        &:after {
          content: '›';
          font-size: 1.2em;
          position: absolute;
          right: $navigation-submenu-padding / 2;
        }
      }

      &:focus > .submenu,
      &:hover > .submenu {
        display: block;
      }

      @include media($horizontal-bar-mode) {
        padding-right: 0.8em;
        position: relative;
      }
    }

    ul.submenu {
      display: none;
      padding-left: 0;
      position: absolute;
      right: em(-29);
      left: auto;
      top: 4em;
      bottom: auto;
      border-radius: 4px;
      min-width:em(100);
      line-height: 2em;
      font-size: em(13);
      background-color: lighten($accent-color, 7);
      // Required for Up Triangle
        /*&:before, */&:after {
          content: "";
          position: absolute;
          right: 1em;
          margin-left: -3px;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: transparent;
          border-top: 0;
          z-index:99999;
          display:block;
          border-width: 6px;
        }

        /* Fill */
        &:after {
          top: em(-5);
          border-bottom-color: $accent-color;
        }

      .submenu {
        @include media($horizontal-bar-mode) {
          left: $navigation-submenu-width - 0.2em;
          top: 0;
        }
      }

      li {
        display: block;
        padding-right: 0;
        border-bottom: 1px solid darken($accent-color, 5);

        &:last-child {
          border-bottom: 0;
        }

        a {
          padding: 0 $navigation-submenu-padding;
          display: inline-block;
          text-align: left;
          width: 100%;
          color: darken($accent-color, 30);
          
        }
      }
    }

    // Profile block
    .profile.more {
      display: inline-block;
      float: right;
      margin: {
        top: em(12);
        left: em(8);
        right: 0!important;
      }

      img {
        border-radius: em(6);
      }

      //&::after {
      //  @include position(relative, em(-11) em(-8) auto auto); //top right bottom left
      //  content: '\25BE';
      //  color: $navigation-nav-accent-color;
      //  font-size: em(14);
      //  margin-right: em(5);
      //}
    }

    li#profile {
        margin-right: 9px;
      }

    // New message

    .new-message {
        display:inline-block;
        font-size: em(31);
        float: right;
        margin: {
          top: em(9);
          right: em(8);
        }
      }

    // Search bar

    .search-bar {
      $search-bar-border-color: $base-border-color;
      $search-bar-border: 1px solid $search-bar-border-color;
      $search-bar-background: lighten($search-bar-border-color, 10%);

      padding: em(15px) 1em;
      width: em(175px);
      display: inline-block;
      margin: 0 auto; // top right bottom left

      @include media($horizontal-bar-mode) {
        display: inline-block;
        position: relative;
        width: em(218);
        padding: em(15) em(8); // top right bottom left
        float: right;

        input {
          box-sizing:border-box;
          display: block;
        }
      }

      form {
        position: relative;

        input[type=search] {
          box-sizing:border-box;
          background: $navigation-search-background;
          border-radius: $base-border-radius * 1.5;
          border: $navigation-search-border;
          color: lighten($navigation-nav-accent-color, 5);
          font-size: em(13px);
          font-style: italic;
          margin: 0;
          padding: rem(6px) 0.8em;
          width: 100%;
          &:focus {
            outline-color: lighten($navigation-background, 12);
            outline-offset: -1px;
            outline-width: 10px;
          }

          @include media($horizontal-bar-mode) {
            width: 100%;
          }
        }

        button[type=submit] {
          background: $navigation-search-background;
          border: none;
          position: absolute;
          right: em(10);
          top: em(7);
          bottom: em(7);
          left: auto;
          outline: none;
          padding: 0;
          color: lighten($navigation-nav-accent-color, 5);
          font-size: em(16px);

          //i {
          //  padding: 1px;
          //}
        }
      }
    }
  }
}