<div class="home">
	<div class="hero">
		<div class="write-box">
        <form role="write">
          <input type="text" placeholder="What&rsquo;s on your mind?" />
        </form>
        <span class="photo"><a><i class="simply-icon-photo"></i> Add Photo</a></span><span class="video"><a><i class="simply-icon-video"></i> Add Video</a></span>
      </div>
		<div class="selector">
			<ul class="filter">
				<li><a>All posts</a></li>
				<li><a>Photos</a></li>
				<li><a>Videos</a></li>
			</ul>
			<ul class="toggle">
				<li><a><i class="simply-icon-list"></i></a></li>
				<li><a><i class="simply-icon-tile"></i></a></li>
			</ul>
		</div>
	</div>

  <div ng-class="post.postType" class="" ng-repeat="post in allPosts | orderBy:'-timestamp'" id="{{ post.ID }}" >
  	<img ng-src="{{ post.imageSrc }}" alt="{{ post.name }}" />
  	<div class="post-details">
	  	<div class="name"> {{ post.name }}</div>
	  	<a ng-click="null()" class="reply"><i class="simply-icon-reply"></i></a>
	  	<i class="simply-icon-love" ng-class=""></i>
	  	<span am-time-ago="{{ post.timestamp  }}" am-preprocess="unix"></span>
	  </div>
	  <p ng-bind-html="post.content"></p>

  	<ul>
  		<li>{{ post.id }}</li>
  	</ul>
  </div>
</div>